@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

/*Typography*/

body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

/*Fix for white margin bug appearing on right side of x small screens*/

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

/*Navbar Styling*/

.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  background: rgba(0, 0, 0) !important;
}

.navbar a {
  color: #fff;
}

.navbar img {
  height: 3rem;
}

.navbar-nav li {
  padding-right: 0.5rem;
}

.navbar-brand-two {
  color: #fff;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.navbar-dark .navbar-nav .nav-link .navbar-brand-two.active,
.navbar-dark .navbar-nav .nav-link .navbar-brand-two:hover {
  color: #000;
}

/*Landing page styling*/

.callout-container {
  height: 100vh;

  background: url("../img/skatedark1.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.opaque-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}

/* Jumbotron Text Styling */

.jumbotron {
  background: transparent;
}

.jumbotron-header {
  padding: 30px;
  margin-top: 40px;
  color: #fff;
  font-size: 2.25rem;
}

.lead {
  color: #fff;
  font-size: 1.25rem;
}

.block-divider {
  text-align: center;
  border: 1px solid #fff;
  top: 0;
  left:0;
}

/* Button Styling */

.btn {
  background-color: rgba(255, 255, 255, 0.911);
  border: 1px solid #000;
  margin-bottom: 30px;
  padding: 20px;
}



.btn:hover,
.btn:active,
.btn:focus,
.btn:active:focus {
  background-color: rgba(44, 43, 43, 0.829);
  border-color: #000;
  color: #fff;
}

/* About page styling */

.about-container {
  height: 100vh;

  background: url("../img/skatejump.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.about-us {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  position: relative;
  padding: 20px;
}

.jumbotron-about {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 20px;
  margin-top: 3rem;
  margin-bottom: .5rem;
  color: #fff;
  font-size: 2.25rem;
}

.about-p {
  text-align: center;
  color: #fff;
  padding: 20px;
  font-size: 1rem;
}

.about-mem {
  color: #fff;
  font-size: 1rem;
  padding: 15px;
}

.meet {
  font-size: 1.5rem;
  padding: 10px;
  font-weight: 700;
  margin-bottom: 20px
}

.opaque-overlay-two {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

/* Carousel Testimonial Styling */

.carousel-item img {
  max-width: 100%;
  height: 100%;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carousel-caption h2 {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  text-shadow: 0.1rem 0.1rem 0.8rem black; /*---Text shadow helps to see text better on lighter backrounds */
  padding-bottom: 0.5rem;
}

.carousel-caption p {
  font-size: 1rem;
  text-shadow: 0.05rem 0.05rem 0.08rem black;
}

.absolute-div {
  /*-- Black transparent overlay to help with reading text*/
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

/*Footer*/

footer {
  background-color: #000000;
  color: #fff;
  padding: 0.25rem 0;
  margin-top: 0;
}

footer h6 p {
    font-size: 12px;
}

footer img {
  height: 1rem;
  margin: 0.1rem 0;
}

footer a {
  color: #fff;
}

footer svg.svg-inline--fa {
  margin: 0.5rem 0.75rem;
}

footer svg.svg-inline--fa:hover {
  color: rgba(0, 0, 0, 0.25);
}

hr.footer-shell {
  margin: 1px;
  border-top: 0.05rem solid rgba(0, 0, 0, 0.6);
  width: 100%;
}

/* SIGN UP FORM */

.sign-up-backround {
  background-image: url(../img/skateramp.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  height: 100vh;
}

.sign-up-form {
  text-align: center;
  position: center;
  width: 300px;
  box-shadow: rgba(0, 0, 0, 20px);
  background: rgba(0, 0, 0, 0.75);
  padding: 20px;
  margin: 40px 0;
  border-radius: 8px;
}

.sign-up-form h2 {
  color: #fff;
  margin-bottom: 30px;
}

.input-box {
  border-radius: 20px;
  padding: 10px;
  margin: 20px 0;
  width: 100%;
  border: 1px solid rgb(255, 255, 255);
  outline: none;
}

.sign-up-form p {
  color: #fff;
  margin-top: 10px;
}

hr {
  color: #fff;
  margin-top: 1px;
  width: 80%;
}

.or {
  width: 30px;
  margin: -19px auto 10px;
}

i {
  color: #fff;
}

/*-- CONTACT FORM --*/


.contact-bg {
  height: 100vh;

  background: url("../img/boardsunset.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.contact-form {
  width: 85%;
  height: 85%;
  max-width: 600px;
  max-height: 600px;
  background: rgba(0, 0, 0, 0.75);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2px 10px;
  box-sizing: border-box;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 0 10px #000000b3;
  margin: 0;
}

.contact-form h2 {
  margin-top: 0;
  font-weight: 200;
  color: #fff;
  padding: 5px 0;
}

.txtb {
  border: 1px solid gray;
  margin: 4px 0;
  padding: 8px 10px;
  border-radius: 5px;
}


.txtb label {
  display: block;
  text-align: left;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
}

.txtb input,
.txtb textarea {
  width: 100%;
  border: none;
  background: none;
  outline: none;
  font-size: 14px;
  margin-top: 4px;
  color: #fff;
  padding-bottom: 20px;
}

input[type="text"] {
  color: #fff;
}

/* -------------BOOTSRAP BREAKPOINTS*/

/* Extra small devices (portrait phones, less than 576px)
/ No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

/ Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

/* Media Queries */

@media (max-width: 576px) {

 .contact-form {
  width: 85%;
  height: 85%;
  max-width: 600px;
  max-height: 600px;
  background: rgba(0, 0, 0, 0.75);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 10px;
  box-sizing: border-box;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 0 10px #000000b3;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
 }

 /* iPhone 5 Media Query */

 @media only screen and (min-device-width: 320px) and (max-device-width: 568px) 
and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40/71)
{
   .about-us {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  position: relative;
  padding: 10px;
}

  .jumbotron-about {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 10px;
  margin-top: 1.5rem;
  margin-bottom: .5rem;
  color: #fff;
  font-size: 1.75rem;
}

.about-p {
  text-align: center;
  color: #fff;
  padding: 20px;
  font-size: 1rem;
}

.about-mem {
  color: #fff;
  font-size: .5rem;
  padding: 15px;
}

.meet {
  font-size: 1rem;
  padding: 10px;
  font-weight: 700;
  margin-bottom: 10px
}
}
 